In [1]:
import pandas as pd
import numpy as np
import json

In [37]:
movies = pd.read_csv("data/movies_metadata.csv", sep = ",")
rates = pd.read_csv("data/ratings_small.csv", sep = ",")
links = pd.read_csv("data/links_small.csv", sep = ",")
str_to_dict = lambda x:json.loads(x.replace("'", '"'))

/tmp/ipykernel_1491/263909404.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("data/movies_metadata.csv", sep = ",")

In [82]:
def id_to_imdbid(movie_id):
    d = links[links["movieId"] == movie_id]["imdbId"]
    print("d = ", d)
    return int(d)

def get_from_id(movie_id):
    ids = str(movie_id)
    d = movies[movies["id"] == ids]
    if (d.shape[0]):
        return d.iloc[0]
    else:
        return d
    
get_from_id("28")["genres"]

"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'name': 'War'}]"

In [83]:
s = set()
for g in movies["genres"]:
    LD = str_to_dict(g)
    for D in LD:
        s.update([D["name"]])
genres_keys = sorted(list(s))
genres_keys

['Action',
 'Adventure',
 'Animation',
 'Aniplex',
 'BROSTA TV',
 'Carousel Productions',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'GoHands',
 'History',
 'Horror',
 'Mardock Scramble Production Committee',
 'Music',
 'Mystery',
 'Odyssey Media',
 'Pulser Productions',
 'Rogue State',
 'Romance',
 'Science Fiction',
 'Sentai Filmworks',
 'TV Movie',
 'Telescene Film Group Productions',
 'The Cartel',
 'Thriller',
 'Vision View Entertainment',
 'War',
 'Western']

In [81]:
data = []
for c, ids in enumerate(movies["id"]):
    d = get_from_id(ids)
    gd = str_to_dict(d["genres"])
    v = np.zeros(len(genres_keys))
    for g in gd:
        v[genres_keys.index(g["name"])] = 1
    L = [ids, d["original_title"]] + list(v)
    L = np.array(L)
    data.append(L)
    if c % 1000 == 0:
        print(f"{c} / {len(movies['id'])}", end = "\t")

0 / 45466	1000 / 45466

KeyboardInterrupt:

In [90]:
c = 0
data = []
for user_id, ids, rate in zip(rates["userId"], rates["movieId"], rates["rating"]):
    d = get_from_id(ids)
    c = c + 1
    if c % 1000 == 0:
        print(f"{c} / {len(rates)}", end = "\t")
    if d.empty:
        continue
    gd = str_to_dict(d["genres"])
    v = np.zeros(len(genres_keys))
    for g in gd:
        v[genres_keys.index(g["name"])] = 1
    L = [ids, d["original_title"]] + list(v) + [user_id, rate]
    L = np.array(L)
    data.append(L)

1000 / 100004	2000 / 100004	3000 / 100004	4000 / 100004	5000 / 100004	6000 / 100004	7000 / 100004	8000 / 100004	9000 / 100004	10000 / 100004	11000 / 100004	12000 / 100004	13000 / 100004	14000 / 100004	15000 / 100004	16000 / 100004	17000 / 100004	18000 / 100004	19000 / 100004	20000 / 100004	21000 / 100004	22000 / 100004	23000 / 100004	24000 / 100004	25000 / 100004	26000 / 100004	27000 / 100004	28000 / 100004	29000 / 100004	30000 / 100004	31000 / 100004	32000 / 100004	33000 / 100004	34000 / 100004	35000 / 100004	36000 / 100004	37000 / 100004	38000 / 100004	39000 / 100004	40000 / 100004	41000 / 100004	42000 / 100004	43000 / 100004	44000 / 100004	45000 / 100004	46000 / 100004	47000 / 100004	48000 / 100004	49000 / 100004	50000 / 100004	51000 / 100004	52000 / 100004	53000 / 100004	54000 / 100004	55000 / 100004	56000 / 100004	57000 / 100004	58000 / 100004	59000 / 100004	60000 / 100004	61000 / 100004	62000 / 100004	63000 / 100004	64000 / 100004	65000 / 100004	66000 / 100004	67000 / 100004	68000 / 100004	69000 / 100004	70000 / 100004	71000 / 100004	72000 / 100004	73000 / 100004	74000 / 100004	75000 / 100004	76000 / 100004	77000 / 100004	78000 / 100004	79000 / 100004	80000 / 100004	81000 / 100004	82000 / 100004	83000 / 100004	84000 / 100004	85000 / 100004	86000 / 100004	87000 / 100004	88000 / 100004	89000 / 100004	90000 / 100004	91000 / 100004	92000 / 100004	93000 / 100004	94000 / 100004	95000 / 100004	96000 / 100004	97000 / 100004	98000 / 100004	99000 / 100004	100000 / 100004

In [93]:
data = np.array(data)
outpute_df = pd.DataFrame(data)
outpute_df

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,1371,Rocky III,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.5
1,1405,Greed,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0
2,2105,American Pie,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,4.0
3,2193,My Tutor,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.0
4,2294,Jay and Silent Bob Strike Back,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44984,4995,Boogie Nights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,671,4.0
44985,5816,Ober,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,671,4.0
44986,5902,A Bridge Too Far,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,671,3.5
44987,5991,Der letzte Mann,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,671,4.5
44988,5995,Miffo,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,671,4.0

In [98]:
outpute_df.columns = ["filmID", "Title"] + list(genre_keys) + ["userID", "rate"]

In [104]:
outpute_df.to_csv("preferences_data.csv", index=False)